sudo: false

language: node_js
node_js:
  - '0.12'

install:
  - npm install

cache:
  directories:
    - node_modules

script:
 - npm test
 - npm run-script build

notifications:
  email:
    on_success: never
    on_failure: never

deploy:
 - provider: script
   skip_cleanup: true
   script: ./publish-pages.sh
   on:
     branch: master
